@import '~bootstrap/scss/bootstrap';

.nav-item {
    text-transform: uppercase;
    font-weight: bold;

    .nav-link {
        color: black;
    }
}

.user-input {
    border: none;
    border-bottom: 3px solid blue;
}

#jumbotron {
    height: 450px;
    overflow-y: hidden;
}