@import '~bootstrap/scss/bootstrap';


a {
    text-decoration: none;
}

.nav-item {
    text-transform: uppercase;
    font-weight: bold;

    .nav-link {
        color: black;
    }
}

.user-input {
    border: none;
    border-bottom: 3px solid blue;
}

#jumbotron {
    height: 450px;
    overflow: hidden;
}

.current {
    width: 200px;
    font-size: large;
    text-align: center;
    padding: 15px 0;
    top: -30px;
}

.img {
    height: 200px;
    overflow-y: hidden;
}

.btn-load-more {
    padding: 10px 45px;
    margin: 30px auto;
}